.cards {
  padding: 4rem;
  background: rgb(64, 70, 77);
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px rgb(48, 48, 48);

  background: none;
}

#design-section {
  padding: 2rem 0rem;
  padding-bottom: 3rem;
  text-align: center;
}

.cards__container {
  /* display: flex; */
  flex-flow: column;
  align-items: center;
  max-width: 100%;

  /* width: 90%; */
  margin: 0 auto;
}

/* .cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
  background: purple;
  align-items: center;
} */

.cards__items {
  margin-bottom: 24px;
  width: 100%;
  height: auto;
  align-self: center;
  list-style-type: none;
}

.cards__item {
  /* display: flex; */
  flex: 1;
  margin: 0 1rem;

  box-shadow: 6px 3px 8px rgb(43, 43, 43);

  /* max-width: 390px; */
}

.cards__item__link {
  /* display: flex; */
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(12, 12, 12, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  max-height: 20rem;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 67%;

  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
  align-self: center;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(194, 166, 129);
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;

  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cards__item__info {
  padding: 10px 20px 10px 20px;
  background: rgb(110, 144, 185);
  display: flex;
  /* box-shadow: 5px 10px #888888; */

  height: 5rem;
}
@media screen and (max-width: 424px) {
  .cards {
    padding: 1rem;
    background: rgb(64, 70, 77);
    max-width: 100%;
    height: auto;
  }
  .cards__item__info {
    display: none;
  }
  h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(48, 48, 48);
    padding: 0rem 0.75rem 0rem 0.75rem;
    background: none;
    line-height: 2.5rem;
  }
}

.cards__item__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 26px;
  background: none;
  height: 30px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-height: 1338px) {
  .cards__item__text {
    /* background: rgb(85, 85, 85); */
    font-size: 18px;
    line-height: 20px;
  }
  .cards__item__info {
    padding: 12px 20px 12px 20px;
  }
}

@media only screen and (max-height: 1366px) {
  .cards__item__text {
    /* background: rgb(85, 85, 85); */
    font-size: 16px;
    line-height: 20px;
  }
  .cards__item__info {
    padding: 10px 20px 10px 20px;
  }
}
