.footer-container {
  height: 110px;
  background-color: rgb(21, 25, 29);
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.scroll-to-top img {
  background: transparent;
}

#copyright {
  background: none;
  color: rgb(228, 227, 227);
  padding: 3px;
  text-align: center;
  font-size: 12;
}
#link {
  padding: 2px;
  color: rgb(107, 164, 221);
  font-size: 15px;
  text-decoration: none;
  background: rgb(21, 25, 29);

  cursor: pointer;
}

#link:hover {
  color: white;
  background: rgb(194, 166, 129);
}
